/*
        font-size: 18px;
        line-height: 24px;

        @include xlg {
            font-size: 1.25vw;
            line-height: 1.667vw;
        }

        @include lg {
            font-size: 1.758vw;
            line-height: 2.344vw;
        }

        @include sm {
            font-size: 2.344vw;
            line-height: 3.125vw;
        }

        @include smm {
            font-size: 3.344vw;
            line-height: 4.6vw;
        }

        @include xs {
            font-size: 4.4vw;
            line-height: 6vw;
        }



 font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 1vw;

        @include xlg {
            font-size: 1.65vw;
            line-height: 2.133vw;
        }

        @include lg {
            font-size: 2.36vw;
            line-height: 3vw;
        }

        @include sm {
            font-size: 3.13vw;
            line-height: 4.6vw;
        }

        @include smm {
            font-size: 5.25vw;
            line-height: 8vw;
        }

        @include xs {
            font-size: 6.64vw;
            line-height: 9vw;
        }
fz16
   @include xlg {
    line-height: 1.5vw;
    font-size: 1.111vw;
  }

  @include lg {
    font-size: 1.562vw;
    line-height: 2.15vw;
  }

  @include sm {
    line-height: 2.6vw;
    font-size: 2.07vw;
  }

  @include smm {
    line-height: 4.73vw;
    font-size: 3.45vw;
  }

  @include xs {
    line-height: 6vw;
    font-size: 4.5vw;
  }
*/

/*
fz14
        font-size: 14px;
                line-height: 20px;

                @include xlg {
                    font-size: 1vw;
                    line-height: 1.3vw;
                }

                @include lg {
                    font-size: 1.38vw;
                    line-height: 1.87vw;
                }

                @include sm {
                    font-size: 1.8vw;
                    line-height: 2.5vw;
                }

                @include smm {
                    font-size: 3vw;
                    line-height: 4.4vw;
                }

                @include xs {
                    font-size: 3.85vw;
                    line-height: 5vw;
                }


*/

/*
fz12
              font-size: 12px;
        line-height: 18px;

        @include xlg {
            font-size: 0.86vw;
            line-height: 1.3vw;
        }

        @include lg {
            font-size: 1.18vw;
            line-height: 2vw;
        }

        @include sm {
            font-size: 1.56vw;
            line-height: 2.5vw;
        }

        @include smm {
            font-size: 2.63vw;
            line-height: 4.1vw;
        }

        @include xs {
            font-size: 3.37vw;
            line-height: 4.5vw;
        }

*/

.block-hero .container .block-hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}

.block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-wrapper .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-wrapper .swiper-slide a {
  width: 100%;
  height: 420px;
}

.block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-wrapper .swiper-slide a img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-wrapper .swiper-slide a img.mobile {
  display: none;
}

.block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-button-prev,
.block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-button-next {
  background-color: rgba(27, 33, 36, 0.3);
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-button-prev:hover,
.block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-button-next:hover {
  background-color: rgb(27, 33, 36);
}

.block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-button-next {
  right: 24px;
}

.block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-button-next svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-button-prev {
  left: 24px;
}

.block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-button-disabled {
  display: none;
}

.block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-pagination {
  position: absolute;
  bottom: 32px;
  left: 50%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 5px;
     -moz-column-gap: 5px;
          column-gap: 5px;
}

.block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 6px;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-pagination .swiper-pagination-bullet-active {
  width: 32px;
  background-color: #8958F1;
}

.block-hero .container .block-hero__wrapper .block-hero_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 24px;
}

.block-hero .container .block-hero__wrapper .block-hero_bottom .category-card {
  position: relative;
  -ms-flex-preferred-size: calc((100% - 24px) / 2);
      flex-basis: calc((100% - 24px) / 2);
  min-height: 320px;
  height: auto;
  padding: 40px;
  padding-bottom: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-hero .container .block-hero__wrapper .block-hero_bottom .category-card h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 24px;
}

.block-hero .container .block-hero__wrapper .block-hero_bottom .category-card ul {
  margin-bottom: 24px;
}

.block-hero .container .block-hero__wrapper .block-hero_bottom .category-card ul li {
  font-size: 16px;
  line-height: 24px;
}

.block-hero .container .block-hero__wrapper .block-hero_bottom .category-card .category-card__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 16px;
  border: 1px solid #16151C;
  border-color: #16151C;
  border-radius: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  color: #16151C;
  background-color: transparent;
  margin-top: auto;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.block-hero .container .block-hero__wrapper .block-hero_bottom .category-card .category-card__button:hover {
  color: #fff;
  background-color: #8958F1;
  border-color: #8958F1;
}

.block-hero .container .block-hero__wrapper .block-hero_bottom .category-card .category-card__bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top center;
     object-position: top center;
  border-radius: 20px;
}

.block-stock-slider .container .block-stock-slider__wrapper .link__see-all {
  display: none;
}

.block-stock-slider .container .block-stock-slider__wrapper .title__wrapper .title .link__see-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-stock-slider .container .block-stock-slider__wrapper .block-stock-swiper .swiper-wrapper .swiper-slide {
  width: calc((100% - 40px) / 3);
  margin-right: 20px;
  height: 164px;
}

.block-stock-slider .container .block-stock-slider__wrapper .block-stock-swiper .swiper-wrapper .swiper-slide:last-child {
  margin-right: 0;
}

.block-stock-slider .container .block-stock-slider__wrapper .block-stock-swiper .swiper-wrapper .swiper-slide a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-stock-slider .container .block-stock-slider__wrapper .block-stock-swiper .swiper-wrapper .swiper-slide a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.block-stock-slider .container .block-stock-slider__wrapper .block-stock-swiper .swiper-button-disabled {
  display: none;
}

.block-running-line .container .running-line__wrapper {
  width: 100%;
}

.block-running-line .container .running-line__wrapper .items-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding: 24px 0;
}

.block-running-line .container .running-line__wrapper .items-wrap .items {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
}

.block-running-line .container .running-line__wrapper .items-wrap .items .item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  position: relative;
  padding: 0 48px;
}

.block-running-line .container .running-line__wrapper .items-wrap .items .item::after {
  content: "";
  width: 1px;
  height: 48px;
  background-color: #D1D1DB;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}

.block-running-line .container .running-line__wrapper .items-wrap .items .item img {
  height: 64px;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.block-running-line .container .running-line__wrapper .items-wrap .items .item img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.block-running-line .container .running-line__wrapper .marquee {
  -webkit-animation: scroll 20s linear infinite;
          animation: scroll 20s linear infinite;
}

.block-running-line .container .running-line__wrapper .reverce {
  animation-direction: reverse;
}

.block-running-line .container .running-line__wrapper .items-wrap:hover .marquee {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes scroll {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

.block-alternative-sections .container .block-alternative-sections__wrapper .link__see-all {
  display: none;
}

.block-alternative-sections .container .block-alternative-sections__wrapper .title__wrapper .title .link__see-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-alternative-sections .container .block-alternative-sections__wrapper .block-alternative-sections-swiper .swiper-wrapper .swiper-slide {
  width: 292px;
  margin-right: 20px;
  height: 300px;
}

.block-alternative-sections .container .block-alternative-sections__wrapper .block-alternative-sections-swiper .swiper-wrapper .swiper-slide:last-child {
  margin-right: 0;
}

.block-alternative-sections .container .block-alternative-sections__wrapper .block-alternative-sections-swiper .swiper-wrapper .swiper-slide a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.block-alternative-sections .container .block-alternative-sections__wrapper .block-alternative-sections-swiper .swiper-wrapper .swiper-slide a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.block-alternative-sections .container .block-alternative-sections__wrapper .block-alternative-sections-swiper .alternative-sections-swiper-button-next {
  width: 84px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 3;
  background: -webkit-gradient(linear, right top, left top, from(#FFF), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0) 100%);
}

.block-alternative-sections .container .block-alternative-sections__wrapper .block-alternative-sections-swiper .swiper-button-disabled {
  display: none;
}

.block-benefits {
  padding: 16px 0;
}

.block-benefits .container .block-benefits__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.block-benefits .container .block-benefits__wrapper .benefit-card {
  -ms-flex-preferred-size: calc((100% - 60px) / 4);
      flex-basis: calc((100% - 60px) / 4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
}

.block-benefits .container .block-benefits__wrapper .benefit-card .image__wrapper {
  width: 56px;
  height: 56px;
}

.block-benefits .container .block-benefits__wrapper .benefit-card .image__wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.block-benefits .container .block-benefits__wrapper .benefit-card .text__wrapper {
  text-align: center;
}

.block-benefits .container .block-benefits__wrapper .benefit-card .text__wrapper h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.block-benefits .container .block-benefits__wrapper .benefit-card .text__wrapper p {
  font-size: 14px;
  line-height: 20px;
  color: #80808A;
}

@media screen and (max-width: 1440.02px) {
  .block-hero .container .block-hero__wrapper {
    gap: 1.667vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-wrapper .swiper-slide a {
    height: 29.167vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-wrapper .swiper-slide a img {
    border-radius: 1.389vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-pagination {
    bottom: 2.222vw;
    -webkit-column-gap: 0.347vw;
       -moz-column-gap: 0.347vw;
            column-gap: 0.347vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 1.111vw;
    height: 0.417vw;
    border-radius: 0.278vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-pagination .swiper-pagination-bullet-active {
    width: 2.222vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom {
    gap: 1.667vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card {
    -ms-flex-preferred-size: calc((100% - 1.667vw) / 2);
        flex-basis: calc((100% - 1.667vw) / 2);
    min-height: 22.222vw;
    padding: 2.778vw;
    padding-bottom: 2.5vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card h3 {
    font-size: 2.222vw;
    line-height: 2.778vw;
    margin-bottom: 1.667vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card ul {
    margin-bottom: 1.667vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card ul li {
    font-size: 1.111vw;
    line-height: 1.667vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card .category-card__button {
    padding: 0.833vw 1.111vw;
    border-radius: 0.694vw;
    font-size: 1.111vw;
    line-height: 1.667vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card .category-card__bg {
    border-radius: 1.389vw;
  }

  .block-stock-slider .container .block-stock-slider__wrapper .block-stock-swiper .swiper-wrapper .swiper-slide {
    width: calc((100% - 2.778vw) / 3);
    margin-right: 1.389vw;
    height: 11.389vw;
  }

  .block-stock-slider .container .block-stock-slider__wrapper .block-stock-swiper .swiper-wrapper .swiper-slide a img {
    border-radius: 1.389vw;
  }

  .block-running-line .container .running-line__wrapper .items-wrap {
    padding: 1.667vw 0;
  }

  .block-running-line .container .running-line__wrapper .items-wrap .items .item {
    padding: 0 3.333vw;
  }

  .block-running-line .container .running-line__wrapper .items-wrap .items .item::after {
    height: 3.333vw;
  }

  .block-running-line .container .running-line__wrapper .items-wrap .items .item img {
    height: 4.444vw;
  }

  .block-alternative-sections .container .block-alternative-sections__wrapper .block-alternative-sections-swiper .swiper-wrapper .swiper-slide {
    width: 20.278vw;
    margin-right: 1.389vw;
    height: 20.833vw;
  }

  .block-alternative-sections .container .block-alternative-sections__wrapper .block-alternative-sections-swiper .swiper-wrapper .swiper-slide a img {
    border-radius: 1.389vw;
  }

  .block-benefits {
    padding: 1.111vw 0;
  }

  .block-benefits .container .block-benefits__wrapper {
    gap: 1.389vw;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card {
    -ms-flex-preferred-size: calc((100% - 4.167vw) / 4);
        flex-basis: calc((100% - 4.167vw) / 4);
    gap: 1.667vw;
    padding: 0 1.111vw;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card .image__wrapper {
    width: 3.889vw;
    height: 3.889vw;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card .text__wrapper h3 {
    font-size: 1.25vw;
    line-height: 1.667vw;
    margin-bottom: 0.556vw;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card .text__wrapper p {
    font-size: 0.972vw;
    line-height: 1.389vw;
  }
}

@media screen and (max-width: 1024.02px) {
  .block-hero .container .block-hero__wrapper {
    gap: 2.344vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-wrapper .swiper-slide a {
    height: 29.883vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-wrapper .swiper-slide a img {
    border-radius: 1.465vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-pagination {
    bottom: 2.344vw;
    -webkit-column-gap: 0.391vw;
       -moz-column-gap: 0.391vw;
            column-gap: 0.391vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 1.172vw;
    height: 0.488vw;
    border-radius: 0.293vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-pagination .swiper-pagination-bullet-active {
    width: 2.344vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom {
    gap: 2.344vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card {
    -ms-flex-preferred-size: calc((100% - 2.344vw) / 2);
        flex-basis: calc((100% - 2.344vw) / 2);
    min-height: 31.25vw;
    padding: 3.906vw;
    padding-bottom: 3.516vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card h3 {
    font-size: 3.125vw;
    line-height: 3.906vw;
    margin-bottom: 2.344vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card ul {
    margin-bottom: 2.344vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card ul li {
    font-size: 1.563vw;
    line-height: 2.344vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card .category-card__button {
    padding: 1.172vw 1.563vw;
    border-radius: 0.977vw;
    font-size: 1.563vw;
    line-height: 2.344vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card .category-card__bg {
    border-radius: 1.953vw;
  }

  .block-stock-slider .container .block-stock-slider__wrapper .link__see-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .block-stock-slider .container .block-stock-slider__wrapper .title__wrapper .title .link__see-all {
    display: none;
  }

  .block-stock-slider .container .block-stock-slider__wrapper .block-stock-swiper {
    margin-bottom: 1.563vw;
  }

  .block-stock-slider .container .block-stock-slider__wrapper .block-stock-swiper .swiper-wrapper .swiper-slide {
    width: calc((100% - 1.563vw) / 3);
    margin-right: 0.781vw;
    height: 11.719vw;
  }

  .block-stock-slider .container .block-stock-slider__wrapper .block-stock-swiper .swiper-wrapper .swiper-slide a img {
    border-radius: 1.953vw;
  }

  .block-running-line .container .running-line__wrapper .items-wrap {
    padding: 2.344vw 0;
  }

  .block-running-line .container .running-line__wrapper .items-wrap .items .item {
    padding: 0 2.344vw;
  }

  .block-running-line .container .running-line__wrapper .items-wrap .items .item::after {
    height: 4.688vw;
  }

  .block-running-line .container .running-line__wrapper .items-wrap .items .item img {
    height: 3.711vw;
  }

  .block-alternative-sections .container .block-alternative-sections__wrapper .link__see-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .block-alternative-sections .container .block-alternative-sections__wrapper .title__wrapper .title .link__see-all {
    display: none;
  }

  .block-alternative-sections .container .block-alternative-sections__wrapper .block-alternative-sections-swiper {
    margin-bottom: 1.563vw;
  }

  .block-alternative-sections .container .block-alternative-sections__wrapper .block-alternative-sections-swiper .swiper-wrapper .swiper-slide {
    width: 28.516vw;
    margin-right: 0.781vw;
    height: 29.297vw;
  }

  .block-alternative-sections .container .block-alternative-sections__wrapper .block-alternative-sections-swiper .swiper-wrapper .swiper-slide a img {
    border-radius: 1.953vw;
  }

  .block-benefits {
    padding: 1.563vw 0;
  }

  .block-benefits .container .block-benefits__wrapper {
    gap: 1.66vw;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card {
    -ms-flex-preferred-size: calc((100% - 4.98vw) / 4);
        flex-basis: calc((100% - 4.98vw) / 4);
    gap: 2.344vw;
    padding: 0;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card .image__wrapper {
    width: 5.469vw;
    height: 5.469vw;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card .text__wrapper h3 {
    font-size: 1.758vw;
    line-height: 2.344vw;
    margin-bottom: 0.781vw;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card .text__wrapper p {
    font-size: 1.367vw;
    line-height: 1.953vw;
  }
}

@media screen and (max-width: 768.02px) {
  .block-hero .container .block-hero__wrapper {
    gap: 2.083vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-wrapper .swiper-slide a {
    height: 30.208vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-wrapper .swiper-slide a img {
    border-radius: 1.432vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-pagination {
    bottom: 2.344vw;
    -webkit-column-gap: 0.391vw;
       -moz-column-gap: 0.391vw;
            column-gap: 0.391vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 1.172vw;
    height: 0.521vw;
    border-radius: 0.391vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-pagination .swiper-pagination-bullet-active {
    width: 2.344vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom {
    gap: 2.083vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card {
    -ms-flex-preferred-size: calc((100% - 2.083vw) / 2);
        flex-basis: calc((100% - 2.083vw) / 2);
    min-height: 20.833vw;
    padding: 2.604vw;
    padding-bottom: 2.604vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card h3 {
    font-size: 3.125vw;
    line-height: 4.167vw;
    margin-bottom: 3.125vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card ul {
    display: none;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card .category-card__button {
    padding: 1.563vw 2.083vw;
    border-radius: 1.302vw;
    font-size: 2.083vw;
    line-height: 3.125vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card .category-card__bg {
    border-radius: 2.083vw;
  }

  .block-stock-slider .container .block-stock-slider__wrapper .block-stock-swiper {
    margin-bottom: 2.083vw;
  }

  .block-stock-slider .container .block-stock-slider__wrapper .block-stock-swiper .swiper-wrapper .swiper-slide {
    width: 39.453vw;
    margin-right: 1.042vw;
    height: 15.625vw;
  }

  .block-stock-slider .container .block-stock-slider__wrapper .block-stock-swiper .swiper-wrapper .swiper-slide a img {
    border-radius: 2.604vw;
  }

  .block-stock-slider .container .block-stock-slider__wrapper .block-stock-swiper .stock-swiper-button-next {
    width: 10.938vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 3;
    background: -webkit-gradient(linear, right top, left top, from(#FFF), to(rgba(255, 255, 255, 0)));
    background: linear-gradient(270deg, #FFF 0%, rgba(255, 255, 255, 0) 100%);
  }

  .block-running-line .container .running-line__wrapper .items-wrap {
    padding: 3.125vw 0;
  }

  .block-running-line .container .running-line__wrapper .items-wrap .items .item {
    padding: 0 3.125vw;
  }

  .block-running-line .container .running-line__wrapper .items-wrap .items .item::after {
    height: 6.25vw;
  }

  .block-running-line .container .running-line__wrapper .items-wrap .items .item::after {
    height: 9.25vw;
  }

  .block-running-line .container .running-line__wrapper .items-wrap .items .item img {
    height: 4.948vw;
  }

  .block-alternative-sections .container .block-alternative-sections__wrapper .block-alternative-sections-swiper {
    margin-bottom: 2.083vw;
  }

  .block-alternative-sections .container .block-alternative-sections__wrapper .block-alternative-sections-swiper .swiper-wrapper .swiper-slide {
    width: 38.021vw;
    margin-right: 1.042vw;
    height: 39.063vw;
  }

  .block-alternative-sections .container .block-alternative-sections__wrapper .block-alternative-sections-swiper .swiper-wrapper .swiper-slide a img {
    border-radius: 2.604vw;
  }

  .block-benefits {
    padding: 2.083vw 0;
  }

  .block-benefits .container .block-benefits__wrapper {
    gap: 4.167vw;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card {
    -ms-flex-preferred-size: calc((100% - 4.167vw) / 2);
        flex-basis: calc((100% - 4.167vw) / 2);
    gap: 3.125vw;
    padding: 0 2.604vw;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card .image__wrapper {
    width: 7.292vw;
    height: 7.292vw;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card .text__wrapper h3 {
    font-size: 2.083vw;
    font-weight: 600;
    line-height: 3.125vw;
    margin-bottom: 1.042vw;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card .text__wrapper p {
    font-size: 1.823vw;
    line-height: 2.604vw;
  }
}

@media screen and (max-width: 460.02px) {
  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-wrapper .swiper-slide a {
    height: 49.208vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-wrapper .swiper-slide a img {
    border-radius: 4.444vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-wrapper .swiper-slide a img.desctop {
    display: none;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-wrapper .swiper-slide a img.mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-pagination .swiper-pagination-bullet {
    width: 2.172vw;
    height: 0.921vw;
    border-radius: 0.391vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-pagination .swiper-pagination-bullet-active {
    width: 3.172vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    min-height: 39.444vw;
    padding: 5.556vw;
    padding-bottom: 5.556vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card h3 {
    font-size: 5.667vw;
    line-height: 8.889vw;
    margin-bottom: 6.667vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card .category-card__button {
    padding: 3.333vw 4.444vw;
    border-radius: 2.778vw;
    font-size: 3.7vw;
    line-height: 5.667vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom .category-card .category-card__bg {
    border-radius: 4.444vw;
  }

  .block-stock-slider .container .block-stock-slider__wrapper .block-stock-swiper .swiper-wrapper .swiper-slide {
    width: 84.167vw;
    margin-right: 2.222vw;
    height: 33.333vw;
  }

  .block-running-line .container .running-line__wrapper .items-wrap .items .item {
    padding: 0 5vw;
  }

  .block-running-line .container .running-line__wrapper .items-wrap .items .item img {
    height: 9.948vw;
  }

  .block-alternative-sections .container .block-alternative-sections__wrapper .block-alternative-sections-swiper .swiper-wrapper .swiper-slide {
    width: 70.021vw;
    margin-right: 1.542vw;
    height: 71.063vw;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    gap: 4.667vw;
    padding: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card .image__wrapper {
    width: 11.556vw;
    height: 11.556vw;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 11.556vw;
            flex: 0 0 11.556vw;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card .text__wrapper {
    text-align: start;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card .text__wrapper h3 {
    line-height: 4.73vw;
    font-size: 3.45vw;
    margin-bottom: 1.5vw;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card .text__wrapper p {
    font-size: 3vw;
    line-height: 4.4vw;
  }
}

@media screen and (max-width: 360.02px) {
  .block-hero .container .block-hero__wrapper {
    gap: 3.333vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_top .block-hero-swiper .swiper-wrapper .swiper-slide a {
    height: 50vw;
  }

  .block-hero .container .block-hero__wrapper .block-hero_bottom {
    gap: 3.333vw;
  }

  .block-stock-slider .container .block-stock-slider__wrapper .block-stock-swiper {
    margin-bottom: 4.444vw;
  }

  .block-stock-slider .container .block-stock-slider__wrapper .block-stock-swiper .stock-swiper-button-next {
    width: 12.222vw;
  }

  .block-running-line .container .running-line__wrapper .items-wrap {
    padding: 6.667vw 0;
  }

  .block-running-line .container .running-line__wrapper .items-wrap .items .item {
    padding: 0 6.667vw;
  }

  .block-running-line .container .running-line__wrapper .items-wrap .items .item::after {
    height: 13.333vw;
  }

  .block-running-line .container .running-line__wrapper .items-wrap .items .item img {
    height: 10.556vw;
  }

  .block-alternative-sections .container .block-alternative-sections__wrapper .block-alternative-sections-swiper {
    margin-bottom: 4.444vw;
  }

  .block-alternative-sections .container .block-alternative-sections__wrapper .block-alternative-sections-swiper .swiper-wrapper .swiper-slide {
    width: 81.111vw;
    margin-right: 2.222vw;
    height: 83.333vw;
  }

  .block-benefits {
    padding: 4.444vw 0;
  }

  .block-benefits .container .block-benefits__wrapper {
    gap: 8.889vw;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card {
    gap: 5.667vw;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card .image__wrapper {
    width: 15.556vw;
    height: 15.556vw;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15.556vw;
            flex: 0 0 15.556vw;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card .text__wrapper h3 {
    font-size: 4.444vw;
    line-height: 6.667vw;
    margin-bottom: 2.222vw;
  }

  .block-benefits .container .block-benefits__wrapper .benefit-card .text__wrapper p {
    font-size: 3.889vw;
    line-height: 5.556vw;
  }
}