/*
        font-size: 18px;
        line-height: 24px;

        @include xlg {
            font-size: 1.25vw;
            line-height: 1.667vw;
        }

        @include lg {
            font-size: 1.758vw;
            line-height: 2.344vw;
        }

        @include sm {
            font-size: 2.344vw;
            line-height: 3.125vw;
        }

        @include smm {
            font-size: 3.344vw;
            line-height: 4.6vw;
        }

        @include xs {
            font-size: 4.4vw;
            line-height: 6vw;
        }



 font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        margin-bottom: 1vw;

        @include xlg {
            font-size: 1.65vw;
            line-height: 2.133vw;
        }

        @include lg {
            font-size: 2.36vw;
            line-height: 3vw;
        }

        @include sm {
            font-size: 3.13vw;
            line-height: 4.6vw;
        }

        @include smm {
            font-size: 5.25vw;
            line-height: 8vw;
        }

        @include xs {
            font-size: 6.64vw;
            line-height: 9vw;
        }
fz16
   @include xlg {
    line-height: 1.5vw;
    font-size: 1.111vw;
  }

  @include lg {
    font-size: 1.562vw;
    line-height: 2.15vw;
  }

  @include sm {
    line-height: 2.6vw;
    font-size: 2.07vw;
  }

  @include smm {
    line-height: 4.73vw;
    font-size: 3.45vw;
  }

  @include xs {
    line-height: 6vw;
    font-size: 4.5vw;
  }
*/

/*
fz14
        font-size: 14px;
                line-height: 20px;

                @include xlg {
                    font-size: 1vw;
                    line-height: 1.3vw;
                }

                @include lg {
                    font-size: 1.38vw;
                    line-height: 1.87vw;
                }

                @include sm {
                    font-size: 1.8vw;
                    line-height: 2.5vw;
                }

                @include smm {
                    font-size: 3vw;
                    line-height: 4.4vw;
                }

                @include xs {
                    font-size: 3.85vw;
                    line-height: 5vw;
                }


*/

/*
fz12
              font-size: 12px;
        line-height: 18px;

        @include xlg {
            font-size: 0.86vw;
            line-height: 1.3vw;
        }

        @include lg {
            font-size: 1.18vw;
            line-height: 2vw;
        }

        @include sm {
            font-size: 1.56vw;
            line-height: 2.5vw;
        }

        @include smm {
            font-size: 2.63vw;
            line-height: 4.1vw;
        }

        @include xs {
            font-size: 3.37vw;
            line-height: 4.5vw;
        }

*/

.block-breadcrumbs {
  padding-bottom: 32px;
}

.block-breadcrumbs .container .block-breadcrumbs__wrapper .breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
}

.block-breadcrumbs .container .block-breadcrumbs__wrapper .breadcrumbs-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  line-height: 20px;
}

.block-breadcrumbs .container .block-breadcrumbs__wrapper .breadcrumbs-list li a {
  color: #80808A;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-right: 15px;
  position: relative;
}

.block-breadcrumbs .container .block-breadcrumbs__wrapper .breadcrumbs-list li a:hover {
  color: #8958F1;
}

.block-breadcrumbs .container .block-breadcrumbs__wrapper .breadcrumbs-list li a::after {
  content: "/";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
  color: #D1D1DB;
}

.shops__head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.7fr 0.3fr;
  grid-template-columns: 0.7fr 0.3fr;
  gap: 48px;
}

.shops__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.shops__contact:not(:last-child) {
  margin-bottom: 16px;
}

.shops__contact svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 24px;
          flex: 0 0 24px;
}

.shops__tabs {
  margin-top: 36px;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 8px;
}

.phone__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.phone__num {
  font-weight: 500;
  margin-bottom: 0.5em;
  font-size: 18px;
  line-height: 24px;
}

.phone__work {
  color: #80808A;
  font-size: 14px;
  line-height: 20px;
}

.tabs-shops__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.8vw;
  margin-bottom: 1vw;
}

.tabs-shops__title {
  border-color: #D1D1DB;
  font-weight: 500;
  padding: 6px 44px;
}

.tabs-shops__title._tab-active {
  background-color: #00A743;
  border-color: #00A743;
  color: #fff;
}

.tabs-shops__map {
  margin-bottom: 64px;
}

.tabs-shops__map iframe {
  width: 100%;
  height: 400px;
}

.points__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 1.4vw;
}

.points__body {
  display: -ms-grid;
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, 360px);
  gap: 40px;
}

.point__img img {
  max-width: 100%;
}

.point__descr {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 8px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.point__title {
  font-weight: 600;
  margin-bottom: 8px;
}

.point__text {
  color: #80808A;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 1440.02px) {
  .block-breadcrumbs {
    padding-bottom: 2.222vw;
  }

  .block-breadcrumbs .container .block-breadcrumbs__wrapper .breadcrumbs-list {
    gap: 0.556vw;
  }

  .block-breadcrumbs .container .block-breadcrumbs__wrapper .breadcrumbs-list li {
    font-size: 0.972vw;
    line-height: 1.389vw;
  }

  .block-breadcrumbs .container .block-breadcrumbs__wrapper .breadcrumbs-list li a {
    padding-right: 1.042vw;
  }

  .shops__head {
    gap: 3.2vw;
  }

  .shops__contact:not(:last-child) {
    margin-bottom: 1.067vw;
  }

  .shops__contact {
    font-size: 1.25vw;
    line-height: 1.667vw;
  }

  .phone {
    gap: 0.533vw;
  }

  .phone__num {
    font-size: 1.25vw;
    line-height: 1.667vw;
  }

  .phone__work {
    font-size: 1vw;
    line-height: 1.3vw;
  }

  .tabs-shops__map iframe {
    height: 26.667vw;
  }

  .tabs-shops__map {
    margin-bottom: 4.267vw;
  }

  .points__title {
    font-size: 1.65vw;
    line-height: 2.133vw;
  }

  .points__body {
    gap: 2.667vw;
    grid-template-columns: repeat(auto-fit, 24vw);
  }

  .point__descr {
    gap: 0.533vw;
  }

  .point__title {
    margin-bottom: 0.533vw;
    gap: 0.533vw;
  }

  .point__text {
    font-size: 1vw;
    line-height: 1.5vw;
  }
}

@media screen and (max-width: 1024.02px) {
  .block-breadcrumbs {
    padding-bottom: 3.125vw;
  }

  .block-breadcrumbs .container .block-breadcrumbs__wrapper .breadcrumbs-list {
    gap: 0.781vw;
  }

  .block-breadcrumbs .container .block-breadcrumbs__wrapper .breadcrumbs-list li {
    font-size: 1.367vw;
    line-height: 1.953vw;
  }

  .block-breadcrumbs .container .block-breadcrumbs__wrapper .breadcrumbs-list li a {
    padding-right: 1.465vw;
  }

  .shops__contact {
    font-size: 1.758vw;
    line-height: 2.344vw;
  }

  .shops__tabs {
    margin-top: 2vw;
  }

  .phone {
    gap: 0.5em;
  }

  .phone__num {
    font-size: 1.758vw;
    line-height: 2.344vw;
  }

  .phone__work {
    font-size: 1.38vw;
    line-height: 1.87vw;
  }

  .tabs-shops__navigation {
    gap: 1vw;
    margin-bottom: 2vw;
  }

  .tabs-shops__map iframe {
    height: 35vw;
  }

  .tabs-shops__map {
    margin-bottom: 7.267vw;
  }

  .points__title {
    font-size: 2.36vw;
    line-height: 3vw;
  }

  .points__body {
    -ms-grid-columns: 36vw 36vw;
    grid-template-columns: 36vw 36vw;
    gap: 2.3em;
  }

  .point__descr {
    gap: 0.5em;
  }

  .point__title {
    gap: 0.5em;
  }

  .point__text {
    font-size: 1.38vw;
    line-height: 2cqb;
  }
}

@media screen and (max-width: 768.02px) {
  .block-breadcrumbs {
    padding-bottom: 4vw;
  }

  .block-breadcrumbs .container .block-breadcrumbs__wrapper .breadcrumbs-list {
    gap: 1.042vw;
  }

  .block-breadcrumbs .container .block-breadcrumbs__wrapper .breadcrumbs-list li {
    font-size: 2.23vw;
    line-height: 2.604vw;
  }

  .block-breadcrumbs .container .block-breadcrumbs__wrapper .breadcrumbs-list li a {
    padding-right: 1.953vw;
  }

  .shops__head {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .shops__contacts {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .shops__contact:not(:last-child) {
    margin-bottom: 2.4vw;
  }

  .shops__contact {
    font-size: 2.344vw;
    line-height: 3.125vw;
  }

  .shops__tabs {
    margin-top: 2em;
  }

  .phone__num {
    font-size: 2.344vw;
    line-height: 3.125vw;
  }

  .phone__work {
    font-size: 1.8vw;
    line-height: 2.5vw;
  }

  .tabs-shops__navigation {
    gap: 1vw;
    margin-bottom: 3vw;
  }

  .tabs-shops__map iframe {
    height: 50vw;
  }

  .points__title {
    font-size: 3.13vw;
    line-height: 4.6vw;
  }

  .points__body {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  .point__text {
    font-size: 1.8vw;
    line-height: 2.7vw;
  }
}

@media screen and (max-width: 460.02px) {
  .block-breadcrumbs .container .block-breadcrumbs__wrapper .breadcrumbs-list li {
    font-size: 3vw;
    line-height: 4vw;
  }

  .shops__contact {
    font-size: 3.344vw;
    line-height: 4.6vw;
  }

  .phone__num {
    font-size: 3.344vw;
    line-height: 4.6vw;
  }

  .phone__work {
    font-size: 3vw;
    line-height: 4.4vw;
  }

  .tabs-shops__map iframe {
    height: 60vw;
  }

  .points__title {
    font-size: 4.5vw;
    line-height: 7vw;
  }

  .points__body {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .point__title {
    margin-bottom: 1vw;
  }

  .point__text {
    font-size: 3vw;
    line-height: 4.6vw;
  }
}

@media screen and (max-width: 360.02px) {
  .block-breadcrumbs {
    padding-bottom: 6.667vw;
  }

  .block-breadcrumbs .container .block-breadcrumbs__wrapper .breadcrumbs-list {
    gap: 2.222vw;
  }

  .block-breadcrumbs .container .block-breadcrumbs__wrapper .breadcrumbs-list li {
    font-size: 3.889vw;
    line-height: 5.556vw;
  }

  .block-breadcrumbs .container .block-breadcrumbs__wrapper .breadcrumbs-list li a {
    padding-right: 4.167vw;
  }

  .shops__contact {
    font-size: 4.4vw;
    line-height: 6vw;
  }

  .phone__num {
    font-size: 4.4vw;
    line-height: 6vw;
  }

  .phone__work {
    font-size: 3.85vw;
    line-height: 5vw;
  }

  .points__title {
    font-size: 5.5vw;
    line-height: 8vw;
  }

  .point__text {
    font-size: 3.85vw;
    line-height: 5.2vw;
  }
}